<table>
  <tr>
    <td>
      <strong>Número de preguntas</strong>
    </td>
    <td>
      <%= estadisticas.nPreguntas %>
    </td>
  </tr>

  <tr>
    <td>
      <strong>Número de comentarios totales</strong>
    </td>
    <td>
      <%= estadisticas.nComentarios %>
    </td>
  </tr>

  <tr>
    <td>
      <strong>Número medio de comentarios por pregunta</strong>
    </td>
    <td>
      <%= estadisticas.comPorPregunta %>
    </td>
  </tr>

  <tr>
    <td>
      <strong>Número de preguntas sin comentarios</strong>
    </td>
    <td>
      <%= estadisticas.nPreguntasNoComentadas %>
    </td>
  </tr>

  <tr>
    <td>
      <strong>Número de preguntas con comentarios</strong>
    </td>
    <td>
      <%= estadisticas.nPreguntasComentadas %>
    </td>
  </tr>
</table>